<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Login</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.css" rel="stylesheet">

    <style type="text/css">
 #img_container {
     position:absolute;
     width:100%;
     height:100%;

 }

 #img_container img {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-25px;
    margin-left:-25px;

}
</style>
</head>

<body style="background-image: linear-gradient(180deg, #4e73df 0%, #4e73df 35%, #ffffff 35%);">

  <div class="container" >

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div>

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div>
                <div class="p-5">

                  <div class="text-center">
                    <img src="/images/asmr.png" width="250" height="70" style="margin-bottom: 20px; margin-left:20px; margin-right:20px;">
                    <h4>ASMR for Admin</h4>
                  </div>
                      <input type="text" name="userId" class="form-control form-control-user" id="userId" aria- placeholder="아이디">
                    <p></p>
                      <input type="password" name="password" class="form-control form-control-user" id="password" placeholder="비밀번호">
                    <p></p>
                    <input type="button" value="로그인" onclick="login();" class="btn btn-primary btn-user btn-block"/>
                  <hr>
                  <a href="http://localhost:5010/register" class="btn btn-user btn-block" style="background-color: #702921; color:#ffffff;">
                     카페 신청하기
                  </a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="column justify-content-center" >
    <h4 style="padding: 2rem; color:#4e73df; text-align:center; font-weight: bold;">강의실 예약과 관리를 한번에</h4>
    <h4 style="padding: 2rem; color:#4e73df;text-align:center; font-weight: bold;">카페 관리를 실시간으로</h4>
    <h2 style="padding: 2rem; color:#224abe;text-align:center; font-weight: bold; margin-bottom: 100px;">ASMR에서<br><br>매일매일 쉽게 관리하세요</h2>
    
    <div class="row justify-content-center" >
      <h6 style="padding: 1rem; color:#000000;text-align:center; font-size: 13px;">도움말</h6>
      <h6 style="padding: 1rem; color:#000000;text-align:center; font-size: 13px;">의견 보내기</h6>
      <h6 style="padding: 1rem; color:#000000;text-align:center; font-size: 13px;">개인정보처리방침</h6>
      <h6 style="padding: 1rem; color:#000000;text-align:center; font-size: 13px;">이용약관</h6>
      <h6 style="padding: 1rem; color:#000000;text-align:center; font-size: 13px;">고객센터</h6>
      <h6 style="padding: 1rem; color:#4e73df;text-align:center; font-weight: bold; font-size: 13px;">ASMR</h6>
    </div>
    
  </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
    function login(){
        var result;
        var id = document.getElementById("userId").value;
        var pw = document.getElementById("password").value;
        console.log("함수안에 들어왔습니다");
            axios.post('http://localhost:5010/user/login',
                {
                    userId:id,
                    password:pw,
                }).then(res => { // 불러온 값을 Console에 뿌려줍니다.
                    result = res.data;
                if(result.userType==3){
                    location.replace('http://localhost:5010/cafestaff?id='+result.id);
                }

                else if(result.userType==4){
                    location.replace('http://localhost:5010/lectureRoom');
                }
                else if(result.userType==1){
                    location.replace('http://localhost:5010/classRegister');
                }
                else
                {
                    alert("회원정보가 잘못 되었거나 아직 수락되지 않은 카페입니다")        
                }
            });
    }


    </script>
</body>

</html>
