<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ASMR</title>

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script>
    function changeTrColor(trObj, oldColor, newColor) {
        trObj.style.backgroundColor = newColor;
        
        trObj.onmouseout = function(){
            trObj.style.backgroundColor = oldColor;
        }
        
    }
    </script>

    <script>
        var orgBColor = '#ffffff';
        var color = orgBColor;
        function HighLightTD(target, backColor,textColor) {
            var tds = target.getElementsByTagName('td');
            for (var i = 0; i < tds.length; i++) {
                if ( tds[i] != target ) {
                    tds[i].style.backgroundColor = orgBColor;
                    tds[i].style.color = orgTColor;
                }
                else {
                        tds[i].style.backgroundColor = backColor;
                        color = backColor;
                    }
                }
//            var table = document.getElementId("tableId");
//            var tr = table.getElementsByTagName("tr");
//	       for(var i=0; i<tr.length; i++){
//		      tr[i].style.background = "white";
//	       }
//	       obj.style.backgroundColor = "#FCE6E0";

        } // endfor i
        
    </script>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

   <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center"  href="http://localhost:5010/education">
          <img src="/images/asmr.png" width="160" height="50">
      </a>
      
      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:5010/education">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>교직원</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        교직원 모드
      </div>


<!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="http://localhost:5010/classRegister">
          <i class="fas fa-fw fa-cog"></i>
          <span>수업 등록하기</span>
        </a>

      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="http://localhost:5010/prereserve">
          <i class="fas fa-fw fa-wrench"></i>
          <span>강의실 우선예약</span>
        </a>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">수업 등록하기</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
                <label for = "lectureName">수업이름 : </label>
                <input type="text" id = "lectureName" name = "lectureName"/>
                <label for = "buildingName">건물명 : </label>
                <select name = "buildingName" id="buildingName" title="선택 구분">
                    <option selected="selected">성호관</option>
                    <option>팔달관</option>
                    <option>율곡관</option>
                    <option>종합관</option>
                    <option>동관</option>
                    <option>서관</option>
                    <option>연암관</option>
                    <option>다산관</option>
                    <option>신학생회관</option>
                    <option>원천관</option>
                    <option>원천정보관</option>
                    <option>강의실 없음</option>
                  </select>
                <h6>  </h6>
                <label for = "lectureRoomNum">호수 : </label>
                <input type="text" id = "lectureRoomNum" name = "lectureRoomNum"/>
                <h6>  </h6>
                <label for = "professor">교수 : </label>
                <input type="text" name = "professor" id = "professor"/>
                <h6>  </h6>
                <label for = "lectureCode">과목코드 : </label>
                <input type="text" name = "lectureCode" id = "lectureCode"/>
                <h6>  </h6>

                <label for = "schedule1">요일1 : </label>
                <select name = "schedule1" id="schedule1" title="선택 구분">
                    <option selected="selected">없음</option>
                        <option>월</option>
                    <option>화</option>
                    <option>수</option>
                    <option>목</option>
                    <option>금</option>
                  </select>
                    <p></p>
                    <label for = "startingTime1">시간 : </label>
                    <select name = "startingTime1" id="startingTime1" title="선택 구분">
                        <option selected="selected">없음</option>
                        <option>7:00</option>
                    <option>7:30</option>
                    <option>8:00</option>
                    <option>8:30</option>
                    <option>9:00</option>
                    <option>9:30</option>
                    <option>10:00</option>
                    <option>10:30</option>
                    <option>11:00</option>
                    <option>11:30</option>
                    <option>12:00</option>
                    <option>12:30</option>
                    <option>13:00</option>
                    <option>13:30</option>
                    <option>14:00</option>
                    <option>14:30</option>
                    <option>15:00</option>
                    <option>15:30</option>
                    <option>16:00</option>
                    <option>16:30</option>
                    <option>17:00</option>
                    <option>17:30</option>
                    <option>18:00</option>
                    <option>18:30</option>
                    <option>19:00</option>
                    <option>19:30</option>
                    <option>20:00</option>
                    <option>20:30</option>
                    <option>21:00</option>
                  </select>
                    <select name = "endingTime1" id="endingTime1" title="선택 구분">
                        <option selected="selected">없음</option>
                        <option>7:00</option>

                    <option>7:30</option>
                    <option>8:00</option>
                    <option>8:30</option>
                    <option>9:00</option>
                    <option>9:30</option>
                    <option>10:00</option>
                    <option>10:30</option>
                    <option>11:00</option>
                    <option>11:30</option>
                    <option>12:00</option>
                    <option>12:30</option>
                    <option>13:00</option>
                    <option>13:30</option>
                    <option>14:00</option>
                    <option>14:30</option>
                    <option>15:00</option>
                    <option>15:30</option>
                    <option>16:00</option>
                    <option>16:30</option>
                    <option>17:00</option>
                    <option>17:30</option>
                    <option>18:00</option>
                    <option>18:30</option>
                    <option>19:00</option>
                    <option>19:30</option>
                    <option>20:00</option>
                    <option>20:30</option>
                    <option>21:00</option>
                  </select>
                <h6> </h6>
                <label for = "schedule2">요일2 : </label>
                <select name = "schedule2" id="schedule2" title="선택 구분">
                    <option selected="selected">없음</option>
                    <option>월</option>
                    <option>화</option>
                    <option>수</option>
                    <option>목</option>
                    <option>금</option>
                  </select>
                    <p></p>
                    <label for = "startingTime2">시간 : </label>
                    <select name = "startingTime2" id="startingTime2" title="선택 구분">
                        <option selected="selected">없음</option>
                        <option>7:00</option>
                    <option>7:30</option>
                    <option>8:00</option>
                    <option>8:30</option>
                    <option>9:00</option>
                    <option>9:30</option>
                    <option>10:00</option>
                    <option>10:30</option>
                    <option>11:00</option>
                    <option>11:30</option>
                    <option>12:00</option>
                    <option>12:30</option>
                    <option>13:00</option>
                    <option>13:30</option>
                    <option>14:00</option>
                    <option>14:30</option>
                    <option>15:00</option>
                    <option>15:30</option>
                    <option>16:00</option>
                    <option>16:30</option>
                    <option>17:00</option>
                    <option>17:30</option>
                    <option>18:00</option>
                    <option>18:30</option>
                    <option>19:00</option>
                    <option>19:30</option>
                    <option>20:00</option>
                    <option>20:30</option>
                    <option>21:00</option>
                  </select>
                    <select name = "endingTime2" id="endingTime2" title="선택 구분">
                        <option selected="selected">없음</option>
                    <option>7:00</option>
                    <option>7:30</option>
                    <option>8:00</option>
                    <option>8:30</option>
                    <option>9:00</option>
                    <option>9:30</option>
                    <option>10:00</option>
                    <option>10:30</option>
                    <option>11:00</option>
                    <option>11:30</option>
                    <option>12:00</option>
                    <option>12:30</option>
                    <option>13:00</option>
                    <option>13:30</option>
                    <option>14:00</option>
                    <option>14:30</option>
                    <option>15:00</option>
                    <option>15:30</option>
                    <option>16:00</option>
                    <option>16:30</option>
                    <option>17:00</option>
                    <option>17:30</option>
                    <option>18:00</option>
                    <option>18:30</option>
                    <option>19:00</option>
                    <option>19:30</option>
                    <option>20:00</option>
                    <option>20:30</option>
                    <option>21:00</option>
                  </select>
                <h6> </h6>
                <label for = "schedule3">요일3 : </label>
                <select name = "schedule3" id="schedule3" title="선택 구분">
                    <option selected="selected">없음</option>
                    <option>월</option>
                    <option>화</option>
                    <option>수</option>
                    <option>목</option>
                    <option>금</option>
                  </select>
                    <p></p>
                    <label for = "startingTime3">시간 : </label>
                    <select name = "startingTime3" id="startingTime3" title="선택 구분">
                        <option selected="selected">없음</option>
                    <option>7:00</option>
                    <option>7:30</option>
                    <option>8:00</option>
                    <option>8:30</option>
                    <option>9:00</option>
                    <option>9:30</option>
                    <option>10:00</option>
                    <option>10:30</option>
                    <option>11:00</option>
                    <option>11:30</option>
                    <option>12:00</option>
                    <option>12:30</option>
                    <option>13:00</option>
                    <option>13:30</option>
                    <option>14:00</option>
                    <option>14:30</option>
                    <option>15:00</option>
                    <option>15:30</option>
                    <option>16:00</option>
                    <option>16:30</option>
                    <option>17:00</option>
                    <option>17:30</option>
                    <option>18:00</option>
                    <option>18:30</option>
                    <option>19:00</option>
                    <option>19:30</option>
                    <option>20:00</option>
                    <option>20:30</option>
                    <option>21:00</option>
                  </select>
                    <select name = "endingTime3" id="endingTime3" title="선택 구분">
                    <option selected="selected">없음</option>
                    <option>7:00</option>
                    <option>7:30</option>
                    <option>8:00</option>
                    <option>8:30</option>
                    <option>9:00</option>
                    <option>9:30</option>
                    <option>10:00</option>
                    <option>10:30</option>
                    <option>11:00</option>
                    <option>11:30</option>
                    <option>12:00</option>
                    <option>12:30</option>
                    <option>13:00</option>
                    <option>13:30</option>
                    <option>14:00</option>
                    <option>14:30</option>
                    <option>15:00</option>
                    <option>15:30</option>
                    <option>16:00</option>
                    <option>16:30</option>
                    <option>17:00</option>
                    <option>17:30</option>
                    <option>18:00</option>
                    <option>18:30</option>
                    <option>19:00</option>
                    <option>19:30</option>
                    <option>20:00</option>
                    <option>20:30</option>
                    <option>21:00</option>
                  </select>
                <h6> </h6>

                <button onclick = "classRegister();" class="btn btn-primary">등록하기</button>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

        
    <script>    
    function getPosition(time){
           switch (time){
               case "7:00": return "0"; case "7:30": return "1"; case "8:00": return "2"; case "8:30": return "3"; case "9:00": return "4"; case "9:30": return "5";
               case "10:00": return "6"; case "10:30": return "7"; case "11:00": return "8"; case "11:30": return "9"; case "12:00": return "10"; case "12:30": return "11";
               case "13:00": return "12"; case "13:30": return "13"; case "14:00": return "14"; case "14:30": return "15"; case "15:00": return "16"; case "15:30": return "17";
               case "16:00": return "18"; case "16:30": return "19"; case "17:00": return "20"; case "17:30": return "21"; case "18:00": return "22"; case "18:30": return "23";
               case "19:00": return "24"; case "19:30": return "25"; case "20:00": return "26"; case "20:30": return "27"; case "21:00": return "28";
        }
    }

    function getAlpha(day){
           switch (day){
               case "월": return "A"; case "화": return "B"; case "수": return "C"; case "목": return "D"; case "금": return "E";
        }
    }

    function classRegister(){
        var lectureRoomNum = document.getElementById("lectureRoomNum").value;
        var building = document.getElementById("buildingName");
        var lectureName = document.getElementById("lectureName").value;
        var buildingName = building.options[building.selectedIndex].value;
        var professor = document.getElementById("professor").value;
        var lectureCode = document.getElementById("lectureCode").value;
        var sc1 = document.getElementById("schedule1");
        var schedule1 = sc1.options[sc1.selectedIndex].value;
        var sc2 = document.getElementById("schedule2");
        var schedule2 = sc2.options[sc2.selectedIndex].value;
        var st1 = document.getElementById("startingTime1");
        var startingTime1 = st1.options[st1.selectedIndex].value;
        var en1 = document.getElementById("endingTime1");
        var endingTime1 = en1.options[en1.selectedIndex].value;
        var st2 = document.getElementById("startingTime2");
        var startingTime2 = st2.options[st2.selectedIndex].value;
        var en2 = document.getElementById("endingTime2");
        var endingTime2 = en2.options[en2.selectedIndex].value;
        var sc3 = document.getElementById("schedule3");
        var schedule3 = sc3.options[sc3.selectedIndex].value;
        var st3 = document.getElementById("startingTime3");
        var startingTime3 = st3.options[st3.selectedIndex].value;
        var en3 = document.getElementById("endingTime3");
        var endingTime3 = en3.options[en3.selectedIndex].value;
//  [{day: 월, startTime: 0, lastTime: 1}, {day: 월, startTime: 0, lastTime: 1}]    
        var timeList = [];
        var data = new Object();
        var data2 = new Object();
        var data3 = new Object();
        if(schedule1!="없음"&&startingTime1!="없음"&&endingTime1!="없음"){
            data.day = getAlpha(schedule1);
            data.startTime = getPosition(startingTime1);
            data.lastTime = getPosition(endingTime1);
            timeList.push(data);
            if(schedule2!="없음"&&startingTime2!="없음"&&endingTime2!="없음"){
                data2.day = getAlpha(schedule2);
                data2.startTime = getPosition(startingTime2);
                data2.lastTime = getPosition(endingTime2);
                timeList.push(data2);
                if(schedule3!="없음"&&startingTime3!="없음"&&endingTime3!="없음"){
                    data3.day = getAlpha(schedule3);
                    data3.startTime = getPosition(startingTime3);
                    data3.lastTime = getPosition(endingTime3);
                    timeList.push(data3);
                }
            }
        }
        console.log(timeList);
    axios.post('http://localhost:5010/lecture/create',{buildingName:buildingName, professorName:professor, lectureRoomNum:lectureRoomNum, professorName:professor, lectureCode:lectureCode, timeList:timeList, lectureName:lectureName}).then(res => { // 불러온 값을 Console에 뿌려줍니다.
                result = res.data;
                console.log(result);
                location.reload();
            });
    
    }
    
 </script>
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>

</body>

</html>