<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Register</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
    
    <script type="text/JavaScript" src="http://code.jquery.com/jquery-1.7.min.js"></script>

	<script type="text/JavaScript" src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	<script type="text/javascript">
		function openDaumZipAddress() {
			new daum.Postcode({
				oncomplete:function(data) {
					jQuery("#postcode1").val(data.postcode1);
					jQuery("#postcode2").val(data.postcode2);
					jQuery("#zonecode").val(data.zonecode);
					jQuery("#firaddress").val(data.address);
					jQuery("#address_etc").focus();
					console.log(data);
				}
			}).open();
		}
	</script>
           <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9eb0615647b207a80893d1486d044017&libraries=services"></script>
    <script>
    var idcheck = 0; 
    function idConfirm(){
    var id = document.getElementById("userId").value;
        if(id.length==0){
            alert("아이디가 잘못 되었습니다")
        }
        else{
            axios.post('http://localhost:5010/user/confirm',{userId:id}).then(res => { // 불러온 값을 Console에 뿌려줍니다.
                result = res.data.response;
                console.log(result)
                if(result == "success"){
                    alert("사용 가능한 아이디 입니다")
                    idcheck = 1;
                }
                else{
                    alert("이미 사용중인 아이디 입니다 다시 입력해주세요")
                }
            });  
        }
    }
    
        
async function register(){
        var id = document.getElementById("userId").value;
        var pw = document.getElementById("userPassword").value;
        var add = document.getElementById("firaddress").value +" "+ document.getElementById("address_etc").value;
        var name = document.getElementById("cafeName").value
        var phone = document.getElementById("cafeTel").value
        var lat;
    var geocoder = new kakao.maps.services.Geocoder();
await geocoder.addressSearch(add, async function(result, status) {

    // 정상적으로 검색이 완료됐으면 
     if (status === kakao.maps.services.Status.OK) {

        lat =  new kakao.maps.LatLng(result[0].y, result[0].x);


         
        }

     if(id.length==0||pw.length==0||add.length==0||document.getElementById("firaddress").value.length==0||name.length==0||phone.length==0){
            alert("입력하신 정보를 다시 확인해주세요")    
        }
        else{
            if(idcheck==1){
                console.log(lat);
                await axios.post('http://localhost:5010/cafe/create',
                {
                    userId:id, 
                    userPassword:pw, 
                    cafeName:name,
                    address:add, 
                    phoneNumber:phone,
                    latitude:lat.Ga,
                    longitude:lat.Ha
                }).then(res => { // 불러온 값을 Console에 뿌려줍니다.
                    result = res.data.response;
                    console.log(result)
                });
            
                if(result == "success"){
                    alert("카페신청이 완료 되었습니다. 간단한 인증 절차 후 승인됩니다.")
                    location.replace("http://localhost:5010");
                }
                else{
                    alert("회원가입이 실패 하였습니다")
                }
            }
                else{
                    alert("중복확인을 해주세요")
                }
        
            }
    });

       
    }
    </script>
</head>

<body style="background-image: linear-gradient(180deg, #702921 0%, #702921 35%, #ffffff 35%);">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5" >
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row justify-content-center">
        <!--  <div class="col-lg-5 d-none d-lg-block bg-register-image"></div> -->
          <div class="col-lg-10">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">ASMR 카페 등록</h1>
              </div>
                
              <div class="form-group">
                <div class="row " style="padding: 0rem 0.75rem;">
                  <input type="text" class="form-control form-control-user" name = "userId" id="userId" placeholder="관리자 ID" style="width: 80%;">
                  <button type="button" name="idConfirm" id="idConfirm" value="중복확인" onclick="idConfirm();" style="width:15%; margin-left: 10px; margin-top: 5px;margin-bottom: 5px; background-color:#ffffff; color:#702921; border-radius:5px;">중복확인</button>
                </div>     
              </div>
                <p></p>
                <div class="form-group">
                  <p></p>
                  <input type="password" class="form-control form-control-user" name="userPassword" id="userPassword" placeholder="관리자 PW">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" name = "cafeName" id="cafeName" placeholder="카페 이름">
                </div>
                  <div class = "form-group">
                    <input type="text" class="form-control form-control-user" name = "firaddress" id="firaddress" placeholder="주소" readonly/>
	                  <p></p>
                    <input type="text" class="form-control form-control-user" name = "zonecode" id="zonecode" placeholder="우편번호" readonly/>
                    <p></p>
                    <div class="row " style="padding: 0rem 0.75rem;">
                      <input type="text" class="form-control form-control-user" name = "address_etc" id="address_etc" placeholder="나머지 주소" style="width: 80%;">
                      <input type="button" onClick="openDaumZipAddress();" value = "주소 찾기" style="width:15%; margin-left: 10px; margin-top: 5px;margin-bottom: 5px; background-color:#ffffff; color:#702921; border-radius:5px;"/>
                    </div>
                  </div>
                <div class="form-group">
                  <input type="tel" class="form-control form-control-user" name="cafeTel" id="cafeTel" placeholder="전화번호">
                </div>
                <input type = "button" onclick="register();" value = "카페 신청하기" class="btn btn-user btn-block" style="background-color: #702921; color:#ffffff;">
              
            </div>
          </div>
          
          <!-- <div id="map" style="width:100%;height:350px;"></div> -->

        </div>
      </div>
    </div>
    
    <div class="row justify-content-center" >
      <h6 style="padding: 1rem; color:#000000;text-align:center; font-size: 13px;">도움말</h6>
      <h6 style="padding: 1rem; color:#000000;text-align:center; font-size: 13px;">의견 보내기</h6>
      <h6 style="padding: 1rem; color:#000000;text-align:center; font-size: 13px;">개인정보처리방침</h6>
      <h6 style="padding: 1rem; color:#000000;text-align:center; font-size: 13px;">이용약관</h6>
      <h6 style="padding: 1rem; color:#000000;text-align:center; font-size: 13px;">고객센터</h6>
      <h6 style="padding: 1rem; color:#4e73df;text-align:center; font-weight: bold; font-size: 13px;">ASMR</h6>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

    
    
</html>
