<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin 2 - Tables</title>


  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <link rel="stylesheet" href="./jquery-ui-1.12.1/jquery-ui.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="./jquery-ui-1.12.1/jquery-ui.min.js"></script>
  <script src="./jquery-ui-1.12.1/datepicker-ko.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    
  <!-- Custom styles for this template -->
  <link href="css/sb-admin-2.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
  <script type="text/javascript">
    $(function() {
      $("#date1").datepicker();
      $("#date2").datepicker({
        showOn: "button",
        buttonImage: "images/calendar.gif",
        buttonImageOnly: false,
        buttonText: "Select date"
      });
      $("#date3").datepicker({
        onSelect: function(dateText, inst) {
          console.log(dateText);
          console.log(inst);
        }
      });
    });
  </script>

</head>


<body id="page-top">

    <script>
    function changeTrColor(trObj, oldColor, newColor) {
      trObj.style.backgroundColor = newColor;

      trObj.onmouseout = function() {
        trObj.style.backgroundColor = oldColor;
      }

    }
  </script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="http://localhost:5010/lectureRoom">
        <img src="/images/asmr.png" width="160" height="50">              
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:5010/lectureRoom">
          <i class="fas fa-fw fa-user-cog"></i>
          <span>관리자</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        관리자 모드
      </div>


      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="http://localhost:5010/lectureroom">
          <i class="fas fa-fw fa-building"></i>
          <span>강의실 관리</span>
        </a>

      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="http://localhost:5010/reservation">
          <i class="fas fa-fw fa-clock"></i>
          <span>예약 관리</span>
        </a>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="http://localhost:5010/student">
          <i class="fas fa-fw fa-user"></i>
          <span>학생 관리</span>
        </a>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:5010/cafe">
          <i class="fas fa-fw fa-coffee"></i>
          <span>카페 관리</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:5010/study">
          <i class="fas fa-fw fa-user-friends"></i>
          <span>스터디 관리</span></a>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

     
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

     
    
    
            <div class="topbar-divider d-none d-sm-block"></div>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="http://localhost:5010" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  로그아웃
                </a>
            
          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">예약 관리</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
            </div>
            <div class="card-body">
              <div class="table-responsive">
                  <label for="selectbox">건물명 : </label>
                  <select id="selectbox" name = "buildingName" title="선택 구분">
                    <option selected="selected">성호관</option>
                    <option>팔달관</option>
                    <option>율곡관</option>
                    <option>동관</option>
                    <option>서관</option>
                    <option>연암관</option>
                    <option>다산관</option>
                    <option>신학생회관</option>
                    <option>원천관</option>
                    <option>원천정보관</option>
                    <option>종합설계동</option>
                    <option>체육관</option>
                    <option>강의실 없음</option>
                 </select>
                  <label for="date">날짜보기</label>
                  <input type="text" name="date" id="date2" size="12"/>
                  <input type="button" value = "검색" onclick="filteringPrint();" class="btn-blue"/>


                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>예약일시</th>
                      <th>건물명</th>
                      <th>호수</th>
                      <th>예약시간</th>
                      <th>예약자</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>예약일시</th>
                      <th>건물명</th>
                      <th>호수</th>
                      <th>예약시간</th>
                      <th>예약자</th>
                    </tr>
                  </tfoot>
                  <tbody id="reserveBody">

                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="row justify-content-center" >
            <h6 style="padding: 1rem; color:#000000;text-align:center; font-size: 13px;">도움말</h6>
            <h6 style="padding: 1rem; color:#000000;text-align:center; font-size: 13px;">의견 보내기</h6>
            <h6 style="padding: 1rem; color:#000000;text-align:center; font-size: 13px;">개인정보처리방침</h6>
            <h6 style="padding: 1rem; color:#000000;text-align:center; font-size: 13px;">이용약관</h6>
            <h6 style="padding: 1rem; color:#000000;text-align:center; font-size: 13px;">고객센터</h6>
            <h6 style="padding: 1rem; color:#4e73df;text-align:center; font-weight: bold; font-size: 13px;">ASMR</h6>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">정말 로그아웃하시겠습니까?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
        <a class="btn btn-primary" href="http://localhost:5010">로그아웃</a>
      </div>
    </div>
  </div>
</div>

 
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>


  <!-- Page level custom scripts -->
  <!-- <script src="js/demo/datatables-demo.js"></script> -->

  <script>
    var result = new Array();
      function getLastTime(position){
        switch (position){
            case "0": return "7:30"; case "1": return "8:00"; case "2": return "8:30"; case "3": return "9:00"; case "4": return "9:30"; case "5": return "10:00";
            case "6": return "10:30"; case "7": return "11:00"; case "8": return "11:30"; case "9": return "12:00"; case "10": return "12:30"; case "11": return "13:00";
            case "12": return "13:30"; case "13": return "14:00"; case "14": return "14:30"; case "15": return "15:00"; case "16": return "15:30"; case "17": return "16:00";
            case "18": return "16:30"; case "19": return "17:00"; case "20": return "17:30"; case "21": return "18:00"; case "22": return "18:30"; case "23": return "19:00";
            case "24": return "19:30"; case "25": return "20:00"; case "26": return "20:30"; case "27": return "21:00"; case "28": return "21:30";
        }
    }
      function getTime(position){
           switch (position){
            case "0": return "7:00"; case "1": return "7:30"; case "2": return "8:00"; case "3": return "8:30"; case "4": return "9:00"; case "5": return "9:30";
            case "6": return "10:00"; case "7": return "10:30"; case "8": return "11:00"; case "9": return "11:30"; case "10": return "12:00"; case "11": return "12:30";
            case "12": return "13:00"; case "13": return "13:30"; case "14": return "14:00"; case "15": return "14:30"; case "16": return "15:00"; case "17": return "15:30";
            case "18": return "16:00"; case "19": return "16:30"; case "20": return "17:00"; case "21": return "17:30"; case "22": return "18:00"; case "23": return "18:30";
            case "24": return "19:00"; case "25": return "19:30"; case "26": return "20:00"; case "27": return "20:30"; case "28": return "21:00";
        }

          
          
      }
    (async function dataPrint() {
      await axios.get('http://localhost:5010/reservation/list').then(res => { // 불러온 값을 Console에 뿌려줍니다.
        result = res.data;
      });
      for (var i = 0; i < result.length; i++) {
        var rowItem = "<tr onmouseover=\"javascript:changeTrColor(this, \'#FFFFFF\', \'#F4FFFD\')\">"
        rowItem += "<td>" + result[i].date.slice(0, 10) + "</td>"
        rowItem += "<td>" + result[i].buildingName + "</td>"
        rowItem += "<td>" + result[i].lectureRoomNum + "</td>"
        rowItem += "<td>" + getTime(result[i].startTime) +" ~ " +getLastTime(result[i].lastTime) + "</td>"
        rowItem += "<td>" + result[i].leaderId + "</td>"
        rowItem += "</tr>"
        $('#reserveBody').append(rowItem)
      }
      $(document).ready(function() {
        $('#dataTable').DataTable();
      });
    })(2);
  </script>
  <script>
    async function filteringPrint() {
       var result2 = new Array();

       var date2 =  document.getElementById("date2").value;
       var lectureRoom =  document.getElementById("selectbox");
       var lectureRoom2 = lectureRoom.options[lectureRoom.selectedIndex].text;
       await axios.get('http://localhost:5010/reservation/list',).then(res => { 
        // 불러온 값을 Console에 뿌려줍니다.
        result2 = res.data;
      });
      $('#reserveBody').empty();
      for (var i = 0; i < result.length; i++) {
        if(date2==result2[i].date.slice(0, 10)||date2==""){
            if(lectureRoom2==result2[i].buildingName){
                var rowItem = "<tr onmouseover=\"javascript:changeTrColor(this, \'#FFFFFF\', \'#F4FFFD\')\">"
                rowItem += "<td>" + result2[i].date.slice(0, 10) + "</td>"
                rowItem += "<td>" + result2[i].buildingName + "</td>"
                rowItem += "<td>" + result2[i].lectureRoomNum + "</td>"
                rowItem += "<td>" + getTime(result[i].startTime) +" ~ " +getTime(result[i].lastTime) + "</td>"
                rowItem += "<td>" + result2[i].leaderId + "</td>"
                rowItem += "</tr>"
                $('#reserveBody').append(rowItem)
            }
        }
      }

    };

  </script>
</body>

</html>
